@model ProductVM
<div class="card shadow border-0 my-4" style="height: calc(100vh - 100px); overflow-y: auto;">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3  ">
        <div class="col-12 text-center"></div>
        <h2 class="text-white py-2">Create Product</h2>
    </div>

    <div class="card-body py-2">

        <form method="post" class="row">
            <div class="border p-3">
               
                <div>
                    <div asp-validation-summary="ModelOnly"></div>
                </div>

                <div class="form-floating py-2 col-12">
                    <label class="ms-2" asp-for="Product.Title"></label>
                    <input type="text" class="form-control border-0  shadow" asp-for="Product.Title" />
                    <span asp-validation-for="Product.Title" class="text-bg-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <label class="ms-2" asp-for="Product.Description"></label>
                    <textarea type="text" class="form-control border-0  shadow" asp-for="Product.Description"></textarea>
                    <span asp-validation-for="Product.Description" class="text-bg-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <label class="ms-2" asp-for="Product.ISBN"></label>
                    <input type="text" class="form-control border-0  shadow" asp-for="Product.ISBN" />
                    <span asp-validation-for="Product.ISBN" class="text-bg-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <label class="ms-2" asp-for="Product.Author"></label>
                    <input type="text" class="form-control border-0  shadow" asp-for="Product.Author" />
                    <span asp-validation-for="Product.Author" class="text-bg-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <label class="ms-2" asp-for="Product.ListPrice"></label>
                    <input type="text" class="form-control border-0  shadow" asp-for="Product.ListPrice" />
                    <span asp-validation-for="Product.ListPrice" class="text-bg-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <label class="ms-2" asp-for="Product.Price"></label>
                    <input type="text" class="form-control border-0  shadow" asp-for="Product.Price" />
                    <span asp-validation-for="Product.Price" class="text-bg-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <label class="ms-2" asp-for="Product.Price50"></label>
                    <input type="text" class="form-control border-0 ms-2 shadow" asp-for="Product.Price50" />
                    <span asp-validation-for="Product.Price50" class="text-bg-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <label class="ms-2" asp-for="Product.Price100">
                    </label>
                    <input type="text" class="form-control border-0  shadow" asp-for="Product.Price100" />
                    <span asp-validation-for="Product.Price100" class="text-bg-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <label class="ms-2" asp-for="Product.ImgURL">
                    </label>
                    <input type="text" class="form-control border-0  shadow" asp-for="Product.ImgURL" />
                    <span asp-validation-for="Product.ImgURL" class="text-bg-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <label class="ms-2" asp-for="Product.CategoryId">
                    </label>
                    <select class="form-control border-0  shadow" asp-for="Product.CategoryId" asp-items="@Model.CategoryList">
                    <option disabled selected>--Select Category--</option>    
                    </select>
                    <span asp-validation-for="Product.CategoryId" class="text-bg-danger"></span>
                </div>

                <div class="row p-1">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary mt-2 form-control">Create</button>

                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary form-control mt-2">
                            Back to Lists
                        </a>
                    </div>

                </div>


            </div>
        </form>

    </div>
</div>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}